# Compiled extra files from vscode latex #
###################
*.acn
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.ist
*.lof
*.log
*.lot
.lol
*.out
*.run.xml
*.synctex.gz
*.toc
